.page-footer {
  color: $color-default-white;

  background-color: $color-default-black;
}

.page-footer__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1230px;
  margin: 0 auto;
  padding: 90px 30px 150px;

  @include vp-1023 {
    flex-wrap: wrap;
    padding: 50px 45px 70px;
  }
  @include vp-767 {
    display: block;
    padding: 50px 15px 70px;
  }
}

.page-footer__block {
  display: flex;
  justify-content: space-between;
  width: 32%;
  min-width: 338px;

  @include vp-1023 {
    width: 55%;
    padding-right: 3px;
  }
  @include vp-767 {
    display: block;
    margin-bottom: 44px;
  }
}

.page-footer__list {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-right: 18px;

  list-style: none;

  @include vp-1023 {
    padding: 0;
  }
  @include vp-767 {
    margin-bottom: 39px;
  }
}

.page-footer__item {
  max-width: 168px;
  margin-bottom: 20px;
}

.page-footer__link {
  font-weight: 21px;
  font-size: 16px;
  color: $color-default-white;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.4;
    }
  }

  &:active {
    opacity: 0.4;
  }
}
