.questions {
  min-width: 320px;
  max-width: 1230px;
  margin: 0 auto;
  padding: 90px 30px 100px;

  @include vp-1023 {
    flex-wrap: wrap;
    padding: 50px 45px 70px;
  }
  @include vp-767 {
    padding: 50px 15px 70px;
  }
}

.questions__title {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 47px;

  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  font-family: $ff-cormorant-garamond;
  text-align: center;
  letter-spacing: 0.03em;

  @include vp-1023 {
    margin-bottom: 28px;
  }
}

.questions__list {
  max-width: 970px;
  margin: 0 auto;
  padding: 0;

  list-style: none;

  border: 1px solid $color-brown;
}

.questions__item {
  position: relative;

  text-align: left;

  border-bottom: 1px solid $color-brown;

  &:last-child {
    border: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50px;
    right: 50px;

    width: 15px;
    height: 8px;

    background-image: url("../img/svg/daw.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 8px;

    @include vp-1023 {
      top: 48px;
      right: 49px;

      width: 25px;
      height: 14px;

      background-size: 25px 14px;
    }
    @include vp-767 {
      top: 23px;
      right: 22px;
    }
  }
}

.questions__item.is-active::before {
  transform: rotate(180deg);
}

.questions__item-title {
  max-width: 524px;
  margin: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 18px;
  line-height: 23px;

  @include vp-1023 {
    margin-bottom: 27px;
  }
  @include vp-767 {
    margin-bottom: 15px;

    font-size: 16px;
    line-height: 22px;
  }
}

.questions__button {
  width: 100%;
  padding: 42px 100px 35px 43px;

  text-align: start;
  color: $color-text-black;

  background: transparent;
  border: 0;
  cursor: pointer;

  @include vp-1023 {
    padding-right: 90px;
    padding-bottom: 18px;
    padding-left: 48px;
  }
  @include vp-767 {
    padding: 18px 56px 4px 24px;
  }
}

.questions__item.is-active .questions__button {
  padding-bottom: 40px;

  @include vp-1023 {
    padding-bottom: 44px;
    padding-left: 49px;
  }
  @include vp-767 {
    padding: 15px 56px 19px 24px;
  }
}

.questions__text {
  max-width: 524px;
  margin: 0;
  margin-left: 6px;

  font-weight: 400;
  font-size: 16px;
  line-height: 21px;

  @include vp-1023 {
    max-width: none;
    margin: 0;;
  }
  @include vp-767 {
    font-size: 14px;
    line-height: 20px;
  }
}
