.subscription {
  width: 43%;

  @include vp-1023 {
    width: 100%;
    margin-right: 115px;
    margin-bottom: 46px;
  }

  @include vp-767 {
    width: 100%;
    margin-right: 0;
    margin-bottom: 46px;
  }
}

.subscription__title {
  margin: 0;
  margin-bottom: 9px;

  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  font-family: $ff-cormorant-garamond;
  letter-spacing: 0.02em;

  @include vp-767 {
    margin-bottom: 13px;
  }
}

.subscription__text {
  margin: 0;
  margin-bottom: 35px;

  font-size: 16px;
  line-height: 21px;
  color: $color-gray;
}

.subscription__form form {
  display: grid;
  grid-template-columns: 1fr max-content;

  border-bottom: 1px solid $color-default-white;
}

.subscription__input input {
  width: 100%;
  padding: 9px 30px 8px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $color-default-white;

  background-color: $color-transparent;
  border: none;

  @include vp-767 {
    padding-right: 20px;
  }

  &:hover,
  &:focus {
    outline: 1px solid $color-gray;
  }

  &::placeholder {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    font-family: $ff-poppins;
    color: $color-gray;
  }
}

.subscription__botton {
  max-width: 170px;
  padding: 5px 45px 5px 5px;

  font-size: 16px;
  line-height: 21px;
  font-family: $ff-poppins;
  color: $color-default-white;

  background-color: $color-transparent;
  background-image: url("../img/svg/arrow.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 34px 10px;
  border: none;
  cursor: pointer;

  @include vp-767 {
    max-width: 130px;
    padding: 5px 43px 5px 5px;

    background-position: calc(100% + 4px)  center;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.4;
    }
  }

  &:active {
    opacity: 0.4;
  }
}

.subscription__input {
  position: relative;
}

.subscription__input.is-invalid input {
  outline: 1px solid $color-red;
}

.subscription__input.is-valid input {
  outline: 1px solid $color-green;
}

.subscription__error {
  display: none;
}

.subscription__input.is-invalid .subscription__error {
  position: absolute;
  bottom: -19px;
  left: 0;

  display: block;

  font-size: 12px;
  line-height: 18px;
  color: $color-red;
}
